@mixin border-radius($border) {
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    border-radius: $border;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}